config/nvim/plugged
config/nvim/.netrwhist
config/nvim/undodir/*
config/fish/fishd.*
config/ranger/bookmarks
!config/nvim/undodir/.gitkeep
tmux/*
notmuch-config
hyperterm_plugins/node_modules/*
hyperterm_plugins/local/*
mutt/*.*.*/*
!mutt/*.*.*/.gitkeep
mutt/cache/bodies/*
!mutt/cache/bodies/.gitkeep
mutt/cache/headers/*
!mutt/cache/headers/.gitkeep
mutt/temp/*
!mutt/temp/.gitkeep
gnupg/*
